[buildout]
find-links = https://www.crummy.com/software/BeautifulSoup/bs4/download/4.9/beautifulsoup4-4.9.3.tar.gz
develop = .
versions = versions
parts = scripts
        test
        python


[versions]
soupsieve = 1.9.6
beautifulsoup4 = 4.9.3


[scripts]
recipe = zc.recipe.egg
eggs = p01.build


[test]
recipe = zc.recipe.testrunner
eggs = p01.build [test]


[python]
recipe = zc.recipe.egg
interpreter = python
eggs = p01.build
