[buildout]
extensions = mr.developer buildout.environ
show-picked-versions = true
sources-dir = dev/
extends = 
    https://raw.githubusercontent.com/morpframework/mfw_workspace/master/versions/morpfw-0.4.0b4.cfg 
    versions.cfg
develop = .
parts = workspace vscode omelette

[sources]
rulez = git https://github.com/morpframework/rulez.git
morpfw = git https://github.com/morpframework/morpfw.git
morpcc = git https://github.com/morpframework/morpcc.git
mfw_template = git https://github.com/morpframework/mfw-template.git
inverter = git https://github.com/morpframework/inverter.git
a_un = git https://github.com/morpframework/a_un.git

[app]
eggs = {{cookiecutter.project_name}}

[workspace]
recipe = zc.recipe.egg
eggs = 
    ${app:eggs}
    mfw_template
    morpfw
    jedi
    cython
    mypy
    black
    pydocstyle
    pylint
    flake8
    pytest
    alembic
    gunicorn

interpreter = python

initialization = 
    from morpfw.main import set_buildout_environ;set_buildout_environ('''${:environment}''')

environment = 
    BUILDOUT_DIR: ${buildout:directory}
    BUILDOUT_BINDIR: ${buildout:bin-directory}

[vscode]
recipe = collective.recipe.vscode
eggs = ${workspace:eggs}
python-path = venv/bin/python
flake8-enabled = True
flake8-path = ${buildout:directory}/bin/flake8
pylint-enabled = True
pylint-path = ${buildout:directory}/bin/pylint
jedi-enabled = False
jedi-path = ${buildout:directory}/parts/omelette
mypy-enabled = True
mypy-path = ${buildout:directory}/bin/mypy
black-enabled = True
black-path = ${buildout:directory}/bin/black

autocomplete-use-omelette = True
generate-envfile = True

[omelette]
recipe = collective.recipe.omelette
eggs = ${workspace:eggs}

