.documentation-taskpane-container {
    overflow-y: hidden;

    /* give the documentation container a height for scrolling purposes */
    height: 430px;

    border: 1px solid #9e9e9e;
    box-sizing: border-box;

    color: #343434;
}

.documentation-taskpane-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #9e9e9e;
    background-color: #C4C4C4;

    /* give the documentation header a height for scrolling purposes */
    height: 29px;
}

.documentation-taskpane-header-title {
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.documentation-taskpane-header-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.documentation-taskpane-header-back-and-title {
    /* This container holds the back and title buttons, when there is a back button! */
    display: flex;
}

.documentation-taskpane-header-close {
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.documentation-taskpane-content {
    /* We make the content div scrollable! */
    overflow-y: scroll;

    /* give the documentation content a height for scrolling purposes */
    height: 401px;

    margin-left: 10px;
    margin-right: 10px;
}

.documentation-taskpane-content-function-list-title {
    font-size: 20px;
    text-decoration: underline;
}

.documentation-taskpane-content-function-list-section-title {
    font-size: 20px;
    margin-top: 10px;
    text-decoration: underline;
}

.documentation-taskpane-content-function-list {
    margin-top: 0;
    list-style: none;
    padding-left: 0px;
}

.documentation-taskpane-content-function-list-element {
    font-size: 14px;
    display: flex;
    margin-top: 10px;
}

.documentation-taskpane-content-function-list-icon {
    margin-right: 10px
}

/* So the user knows functions are  clickable! */
.documentation-taskpane-content-function-list-element:hover {
    text-decoration: underline;
}