#plone-contentmenu-actions,#advanced,#policy,#history{
      display:none;
}

#fieldsetlegend-categorization,#fieldsetlegend-dates,#fieldsetlegend-ownership,#fieldsetlegend-settings,#cmfeditions_version_comment_block{
     display:none;
}

li.formTab a{
    border:none;
}
