@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?24387165');
  src: url('../font/fontello.eot?24387165#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?24387165') format('woff2'),
       url('../font/fontello.woff?24387165') format('woff'),
       url('../font/fontello.ttf?24387165') format('truetype'),
       url('../font/fontello.svg?24387165#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24387165#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-vimeo-squared:before { content: '\e800'; } /* '' */
.icon-linkedin-squared:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-rss-1:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-right-circled:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-facebook-1:before { content: '\e809'; } /* '' */
.icon-facebook-squared:before { content: '\e80a'; } /* '' */
.icon-tumblr:before { content: '\e80b'; } /* '' */
.icon-tumblr-squared:before { content: '\e80c'; } /* '' */
.icon-twitter-squared:before { content: '\e80d'; } /* '' */
.icon-twitter-1:before { content: '\e80e'; } /* '' */
.icon-vimeo:before { content: '\e80f'; } /* '' */
.icon-cancel-circled2:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-menu:before { content: '\e812'; } /* '' */
.icon-bookmark-empty:before { content: '\e813'; } /* '' */
.icon-youtube:before { content: '\e814'; } /* '' */
.icon-youtube-squared:before { content: '\e815'; } /* '' */
.icon-user:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-mail:before { content: '\e818'; } /* '' */
.icon-mail-alt:before { content: '\e819'; } /* '' */
.icon-print:before { content: '\e81a'; } /* '' */
.icon-print-1:before { content: '\e81b'; } /* '' */
.icon-print-2:before { content: '\e81c'; } /* '' */
.icon-print-3:before { content: '\e81d'; } /* '' */
.icon-rss:before { content: '\e81e'; } /* '' */
.icon-rss-squared:before { content: '\e81f'; } /* '' */
.icon-gplus:before { content: '\e820'; } /* '' */
.icon-gplus-squared:before { content: '\e821'; } /* '' */
.icon-gplus-1:before { content: '\e822'; } /* '' */
.icon-search:before { content: '\e823'; } /* '' */
.icon-search-1:before { content: '\e824'; } /* '' */
.icon-search-2:before { content: '\e825'; } /* '' */
.icon-search-3:before { content: '\e826'; } /* '' */
.icon-search-4:before { content: '\e827'; } /* '' */
.icon-search-5:before { content: '\e828'; } /* '' */
.icon-attach:before { content: '\e829'; } /* '' */
.icon-attach-1:before { content: '\e82a'; } /* '' */
.icon-restaurant:before { content: '\e82b'; } /* '' */
.icon-eye:before { content: '\e82c'; } /* '' */
.icon-eye-1:before { content: '\e82d'; } /* '' */
.icon-eye-3:before { content: '\e82e'; } /* '' */
.icon-eye-4:before { content: '\e82f'; } /* '' */
.icon-eye-5:before { content: '\e830'; } /* '' */
.icon-eye-6:before { content: '\e831'; } /* '' */
.icon-eye-7:before { content: '\e832'; } /* '' */
.icon-fax:before { content: '\e833'; } /* '' */
.icon-list-1:before { content: '\e834'; } /* '' */
.icon-location:before { content: '\e835'; } /* '' */
.icon-list:before { content: '\e836'; } /* '' */
.icon-location-1:before { content: '\e837'; } /* '' */
.icon-link:before { content: '\e838'; } /* '' */
.icon-megaphone:before { content: '\e839'; } /* '' */
.icon-download:before { content: '\e83a'; } /* '' */
.icon-up-open:before { content: '\e83b'; } /* '' */
.icon-right-1:before { content: '\e83c'; } /* '' */
.icon-left-1:before { content: '\e83d'; } /* '' */
.icon-menu-2:before { content: '\e83e'; } /* '' */
.icon-right:before { content: '\e83f'; } /* '' */
.icon-left:before { content: '\e840'; } /* '' */
.icon-th:before { content: '\e841'; } /* '' */
.icon-th-outline:before { content: '\e842'; } /* '' */
.icon-globe:before { content: '\e843'; } /* '' */
.icon-down-open:before { content: '\e844'; } /* '' */
.icon-left-open:before { content: '\e845'; } /* '' */
.icon-right-open:before { content: '\e846'; } /* '' */
.icon-up-open-1:before { content: '\e847'; } /* '' */
.icon-down-open-mini:before { content: '\e848'; } /* '' */
.icon-left-open-mini:before { content: '\e849'; } /* '' */
.icon-right-open-mini:before { content: '\e84a'; } /* '' */
.icon-up-open-mini:before { content: '\e84b'; } /* '' */
.icon-share-1:before { content: '\e84c'; } /* '' */
.icon-mobile-1:before { content: '\e84d'; } /* '' */
.icon-attention:before { content: '\e84e'; } /* '' */
.icon-quote:before { content: '\e84f'; } /* '' */
.icon-vcard:before { content: '\e850'; } /* '' */
.icon-calendar:before { content: '\e851'; } /* '' */
.icon-calendar-1:before { content: '\e852'; } /* '' */
.icon-calendar-circled:before { content: '\e853'; } /* '' */
.icon-calendar-2:before { content: '\e854'; } /* '' */
.icon-thumbs-up:before { content: '\e855'; } /* '' */
.icon-thumbs-down:before { content: '\e856'; } /* '' */
.icon-mouse:before { content: '\e857'; } /* '' */
.icon-town-hall:before { content: '\e858'; } /* '' */
.icon-trash:before { content: '\e859'; } /* '' */
.icon-thumbs-up-1:before { content: '\e85a'; } /* '' */
.icon-thumbs-down-1:before { content: '\e85b'; } /* '' */
.icon-thumbs-up-2:before { content: '\e85c'; } /* '' */
.icon-thumbs-down-2:before { content: '\e85d'; } /* '' */
.icon-thumbs-up-3:before { content: '\e85e'; } /* '' */
.icon-thumbs-down-3:before { content: '\e85f'; } /* '' */
.icon-arrow-curved:before { content: '\e860'; } /* '' */
.icon-forward:before { content: '\e861'; } /* '' */
.icon-level-down:before { content: '\e862'; } /* '' */
.icon-right-open-mini-1:before { content: '\e863'; } /* '' */
.icon-book:before { content: '\e864'; } /* '' */
.icon-book-open:before { content: '\e865'; } /* '' */
.icon-book-1:before { content: '\e866'; } /* '' */
.icon-book-2:before { content: '\e867'; } /* '' */
.icon-address-book:before { content: '\e868'; } /* '' */
.icon-lightbulb:before { content: '\e869'; } /* '' */
.icon-lightbulb-alt:before { content: '\e86a'; } /* '' */
.icon-cancel-circled:before { content: '\e86b'; } /* '' */
.icon-cancel:before { content: '\e86c'; } /* '' */
.icon-cancel-1:before { content: '\e86d'; } /* '' */
.icon-cancel-circled2-1:before { content: '\e86e'; } /* '' */
.icon-acrobat:before { content: '\e86f'; } /* '' */
.icon-right-open-big:before { content: '\e870'; } /* '' */
.icon-left-open-big:before { content: '\e871'; } /* '' */
.icon-down-open-big:before { content: '\e872'; } /* '' */
.icon-up-open-big:before { content: '\e873'; } /* '' */
.icon-up-open-mini-1:before { content: '\e874'; } /* '' */
.icon-right-open-mini-2:before { content: '\e875'; } /* '' */
.icon-left-open-mini-1:before { content: '\e876'; } /* '' */
.icon-down-open-mini-1:before { content: '\e877'; } /* '' */
.icon-up-open-2:before { content: '\e878'; } /* '' */
.icon-right-open-1:before { content: '\e879'; } /* '' */
.icon-left-open-1:before { content: '\e87a'; } /* '' */
.icon-down-open-1:before { content: '\e87b'; } /* '' */
.icon-doc-1:before { content: '\e87c'; } /* '' */
.icon-edit:before { content: '\e87d'; } /* '' */
.icon-doc-inv:before { content: '\e87e'; } /* '' */
.icon-doc:before { content: '\e87f'; } /* '' */
.icon-edit-1:before { content: '\e880'; } /* '' */
.icon-edit-2:before { content: '\e881'; } /* '' */
.icon-upload:before { content: '\e882'; } /* '' */
.icon-cpas:before { content: '\e89c'; } /* '' */
.icon-dechet:before { content: '\e89d'; } /* '' */
.icon-service:before { content: '\e89e'; } /* '' */
.icon-tourism:before { content: '\e89f'; } /* '' */
.icon-trav:before { content: '\e8a0'; } /* '' */
.icon-apartment:before { content: '\e8a2'; } /* '' */
.icon-arrow-down:before { content: '\e8a3'; } /* '' */
.icon-arrow-down-circle:before { content: '\e8a4'; } /* '' */
.icon-arrow-left:before { content: '\e8a5'; } /* '' */
.icon-arrow-left-circle:before { content: '\e8a6'; } /* '' */
.icon-arrow-right:before { content: '\e8a7'; } /* '' */
.icon-arrow-right-circle:before { content: '\e8a8'; } /* '' */
.icon-arrow-up:before { content: '\e8a9'; } /* '' */
.icon-arrow-up-circle:before { content: '\e8aa'; } /* '' */
.icon-bicycle:before { content: '\e8ab'; } /* '' */
.icon-book-3:before { content: '\e8ad'; } /* '' */
.icon-bookmark:before { content: '\e8ae'; } /* '' */
.icon-briefcase:before { content: '\e8af'; } /* '' */
.icon-bubble:before { content: '\e8b0'; } /* '' */
.icon-bug:before { content: '\e8b1'; } /* '' */
.icon-bullhorn:before { content: '\e8b2'; } /* '' */
.icon-bus:before { content: '\e8b3'; } /* '' */
.icon-calendar-full:before { content: '\e8b4'; } /* '' */
.icon-camera-1:before { content: '\e8b5'; } /* '' */
.icon-camera-video:before { content: '\e8b6'; } /* '' */
.icon-car:before { content: '\e8b7'; } /* '' */
.icon-cart:before { content: '\e8b8'; } /* '' */
.icon-chart-bars:before { content: '\e8b9'; } /* '' */
.icon-checkmark-circle:before { content: '\e8ba'; } /* '' */
.icon-chevron-down:before { content: '\e8bb'; } /* '' */
.icon-chevron-down-circle:before { content: '\e8bc'; } /* '' */
.icon-chevron-left:before { content: '\e8bd'; } /* '' */
.icon-chevron-left-circle:before { content: '\e8be'; } /* '' */
.icon-chevron-right:before { content: '\e8bf'; } /* '' */
.icon-chevron-right-circle:before { content: '\e8c0'; } /* '' */
.icon-chevron-up:before { content: '\e8c1'; } /* '' */
.icon-chevron-up-circle:before { content: '\e8c2'; } /* '' */
.icon-circle-minus:before { content: '\e8c3'; } /* '' */
.icon-clock-1:before { content: '\e8c4'; } /* '' */
.icon-cloud:before { content: '\e8c5'; } /* '' */
.icon-cloud-check:before { content: '\e8c6'; } /* '' */
.icon-cloud-download:before { content: '\e8c7'; } /* '' */
.icon-cloud-sync:before { content: '\e8c8'; } /* '' */
.icon-cloud-upload:before { content: '\e8c9'; } /* '' */
.icon-code:before { content: '\e8ca'; } /* '' */
.icon-coffee-cup:before { content: '\e8cb'; } /* '' */
.icon-cog:before { content: '\e8cc'; } /* '' */
.icon-construction:before { content: '\e8cd'; } /* '' */
.icon-crop:before { content: '\e8ce'; } /* '' */
.icon-cross:before { content: '\e8cf'; } /* '' */
.icon-cross-circle:before { content: '\e8d0'; } /* '' */
.icon-database:before { content: '\e8d1'; } /* '' */
.icon-diamond:before { content: '\e8d2'; } /* '' */
.icon-dice:before { content: '\e8d3'; } /* '' */
.icon-dinner:before { content: '\e8d4'; } /* '' */
.icon-download-1:before { content: '\e8d7'; } /* '' */
.icon-drop:before { content: '\e8d8'; } /* '' */
.icon-earth:before { content: '\e8d9'; } /* '' */
.icon-enter:before { content: '\e8da'; } /* '' */
.icon-enter-down:before { content: '\e8db'; } /* '' */
.icon-envelope:before { content: '\e8dc'; } /* '' */
.icon-exit:before { content: '\e8dd'; } /* '' */
.icon-exit-up:before { content: '\e8de'; } /* '' */
.icon-eye-2:before { content: '\e8df'; } /* '' */
.icon-file-add:before { content: '\e8e0'; } /* '' */
.icon-file-empty:before { content: '\e8e1'; } /* '' */
.icon-film-play:before { content: '\e8e2'; } /* '' */
.icon-flag:before { content: '\e8e3'; } /* '' */
.icon-frame-contract:before { content: '\e8e4'; } /* '' */
.icon-frame-expand:before { content: '\e8e5'; } /* '' */
.icon-funnel:before { content: '\e8e6'; } /* '' */
.icon-gift:before { content: '\e8e7'; } /* '' */
.icon-graduation-hat:before { content: '\e8e8'; } /* '' */
.icon-hand:before { content: '\e8e9'; } /* '' */
.icon-heart:before { content: '\e8ea'; } /* '' */
.icon-heart-pulse:before { content: '\e8eb'; } /* '' */
.icon-highlight:before { content: '\e8ec'; } /* '' */
.icon-history:before { content: '\e8ed'; } /* '' */
.icon-home-1:before { content: '\e8ee'; } /* '' */
.icon-hourglass:before { content: '\e8ef'; } /* '' */
.icon-inbox:before { content: '\e8f0'; } /* '' */
.icon-indent-decrease:before { content: '\e8f1'; } /* '' */
.icon-indent-increase:before { content: '\e8f2'; } /* '' */
.icon-italic:before { content: '\e8f3'; } /* '' */
.icon-keyboard:before { content: '\e8f4'; } /* '' */
.icon-laptop:before { content: '\e8f5'; } /* '' */
.icon-laptop-phone:before { content: '\e8f6'; } /* '' */
.icon-layers:before { content: '\e8f7'; } /* '' */
.icon-leaf:before { content: '\e8f8'; } /* '' */
.icon-license:before { content: '\e8f9'; } /* '' */
.icon-lighter:before { content: '\e8fa'; } /* '' */
.icon-linearicons:before { content: '\e8fb'; } /* '' */
.icon-line-spacing:before { content: '\e8fc'; } /* '' */
.icon-link-1:before { content: '\e8fd'; } /* '' */
.icon-list-2:before { content: '\e8fe'; } /* '' */
.icon-location-2:before { content: '\e8ff'; } /* '' */
.icon-lock:before { content: '\e900'; } /* '' */
.icon-magic-wand:before { content: '\e901'; } /* '' */
.icon-magnifier:before { content: '\e902'; } /* '' */
.icon-map:before { content: '\e903'; } /* '' */
.icon-map-marker:before { content: '\e904'; } /* '' */
.icon-menu-3:before { content: '\e905'; } /* '' */
.icon-menu-circle:before { content: '\e906'; } /* '' */
.icon-mic:before { content: '\e907'; } /* '' */
.icon-moon:before { content: '\e908'; } /* '' */
.icon-move:before { content: '\e909'; } /* '' */
.icon-music-note:before { content: '\e90a'; } /* '' */
.icon-mustache:before { content: '\e90b'; } /* '' */
.icon-neutral:before { content: '\e90c'; } /* '' */
.icon-page-break:before { content: '\e90d'; } /* '' */
.icon-paperclip:before { content: '\e90e'; } /* '' */
.icon-paw:before { content: '\e90f'; } /* '' */
.icon-pencil:before { content: '\e910'; } /* '' */
.icon-phone-1:before { content: '\e911'; } /* '' */
.icon-phone-handset:before { content: '\e912'; } /* '' */
.icon-picture:before { content: '\e913'; } /* '' */
.icon-pie-chart:before { content: '\e914'; } /* '' */
.icon-plus-circle:before { content: '\e916'; } /* '' */
.icon-pointer-down:before { content: '\e917'; } /* '' */
.icon-pointer-left:before { content: '\e918'; } /* '' */
.icon-pointer-right:before { content: '\e919'; } /* '' */
.icon-pointer-up:before { content: '\e91a'; } /* '' */
.icon-poop:before { content: '\e91b'; } /* '' */
.icon-power-switch:before { content: '\e91c'; } /* '' */
.icon-printer:before { content: '\e91d'; } /* '' */
.icon-pushpin:before { content: '\e91e'; } /* '' */
.icon-question-circle:before { content: '\e91f'; } /* '' */
.icon-redo:before { content: '\e920'; } /* '' */
.icon-rocket:before { content: '\e921'; } /* '' */
.icon-sad:before { content: '\e922'; } /* '' */
.icon-screen:before { content: '\e923'; } /* '' */
.icon-select:before { content: '\e924'; } /* '' */
.icon-shirt:before { content: '\e925'; } /* '' */
.icon-smartphone:before { content: '\e926'; } /* '' */
.icon-smile:before { content: '\e927'; } /* '' */
.icon-sort-alpha-asc:before { content: '\e928'; } /* '' */
.icon-sort-amount-asc:before { content: '\e929'; } /* '' */
.icon-spell-check:before { content: '\e92a'; } /* '' */
.icon-star:before { content: '\e92b'; } /* '' */
.icon-star-half:before { content: '\e92d'; } /* '' */
.icon-store:before { content: '\e92e'; } /* '' */
.icon-strikethrough:before { content: '\e92f'; } /* '' */
.icon-sun:before { content: '\e930'; } /* '' */
.icon-sync:before { content: '\e931'; } /* '' */
.icon-tablet:before { content: '\e932'; } /* '' */
.icon-tag:before { content: '\e933'; } /* '' */
.icon-text-align-center:before { content: '\e934'; } /* '' */
.icon-text-align-justify:before { content: '\e935'; } /* '' */
.icon-text-align-left:before { content: '\e936'; } /* '' */
.icon-text-align-right:before { content: '\e937'; } /* '' */
.icon-text-format:before { content: '\e938'; } /* '' */
.icon-text-format-remove:before { content: '\e939'; } /* '' */
.icon-text-size:before { content: '\e93a'; } /* '' */
.icon-thumbs-down-4:before { content: '\e93b'; } /* '' */
.icon-thumbs-up-4:before { content: '\e93c'; } /* '' */
.icon-train:before { content: '\e93d'; } /* '' */
.icon-trash-1:before { content: '\e93e'; } /* '' */
.icon-underline:before { content: '\e93f'; } /* '' */
.icon-undo:before { content: '\e940'; } /* '' */
.icon-unlink:before { content: '\e941'; } /* '' */
.icon-alarm:before { content: '\e942'; } /* '' */
.icon-user-1:before { content: '\e943'; } /* '' */
.icon-users:before { content: '\e944'; } /* '' */
.icon-volume:before { content: '\e945'; } /* '' */
.icon-volume-high:before { content: '\e946'; } /* '' */
.icon-volume-low:before { content: '\e947'; } /* '' */
.icon-volume-medium:before { content: '\e948'; } /* '' */
.icon-warning:before { content: '\e949'; } /* '' */
.icon-wheelchair:before { content: '\e94a'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-instagram-1:before { content: '\f05d'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-cookie:before { content: '\ec75'; } /* '' */
