div.cc-cookies,
#cpskin-banner,
#edit-bar,
#flex,
#portal-footer-wrapper,
#viewlet-above-content-title,
#viewlet-below-content-title,
#viewlet-below-content,
#portal-column-one,
#portal-column-two,
#social-document-actions,
#document-toc,
#scroll-to-top {
    display: none !important;
}

#portal-header,
#portal-top {
    visibility: hidden;
}

#portal-columns #portal-column-content {
    width: 100%;
    padding-right: 0px !important;
}

#top-logo-slogan #top-slogan {
    width: 100%;
    margin-right: 0px;
    height: auto;
}

#top-slogan-inner {
    visibility: visible;
    position: relative !important;
}

#portal-column-content {
    margin-left: 0 !important;
}

#portal-columns {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}
