#mobnav-btn,
#advanced-breadcrumbs,
#mobile-first-level-wrapper,
#portal-globalnav-cpskinmenu-mobile
{
    display: none;
}

#portal-globalnav .activated
{
    background-color: #93b5bc;
}

.portal-globalnav-cpskinmenu
{
    display: none;
}

.portal-globalnav-cpskinmenu-tabs
{
    margin-bottom: 1px;
}

.portal-globalnav-cpskinmenu-tabs li a,
.portal-globalnav-cpskinmenu li a
{
    display: block !important;
    padding: 0.5em 1em 1.7em;
    white-space: normal;
}

.portal-globalnav-cpskinmenu-tabs li,
.portal-globalnav-cpskinmenu li
{
    display: inline-block;
    width: 25%;
    vertical-align:top;
}

#search-btn
{
    display: none;
}

.advb-submenu li
{
    display: block;
}

.advb-submenu .submenu {
    background-color: white;
    border-radius: 5px;
    margin-left: 0;
    clear:both;
}

.navTreeClose
{
    cursor: pointer;
    float: right;
    position: absolute;
    right: 0;
}

.sf-menu ul.direct_access
{
    background-color: red;
    float: right;
    left: 75%;
    width: 25% !important;
}

.sf-menu ul.navTreeLevel1,
.sf-menu ul.navTreeLevel2,
.sf-menu ul.navTreeLevel3
{
    display: none;
    visibility: hidden;
}

.sf-menu ul.navTreeLevel1,
.sf-menu ul.navTreeLevel2,
.sf-menu ul.navTreeLevel3
{
    background-color: #DDDDDD;
    border-top: 1px solid #999999;
    position: absolute;
    width: 100%;
}

.sf-menu ul.navTreeLevel1.has_direct_access
{
    box-sizing: border-box;
    moz-box-sizing: border-box;
    padding-right: 25%;
    webkit-box-sizing: border-box;
}

.sf-menu ul.navTreeLevel1.has_direct_access,
.sf-menu ul.navTreeLevel1.no_direct_access,
.sf-menu ul.navTreeLevel2,
.sf-menu ul.navTreeLevel3
{
    left: 0;
}

@media screen and (max-width: 900px)
{
    #advanced-breadcrumbs
    {
        font-size: 120%;
    }

    #advanced-breadcrumbs .advb-submenu
    {
        cursor: pointer;
    }

    #advanced-breadcrumbs .nofollow::after
    {
        content: "»";
    }

    #advanced-breadcrumbs li.selected,
     #advanced-breadcrumbs span.selected
    {
        border-left-style: dotted;
    }

    #advanced-breadcrumbs,
     #mobile-first-level-wrapper
    {
        display: block;
    }

    #mobnav-btn
    {
        background-color: #205c90;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: bold;
        margin: 5px 0px;
        padding: 10px;
    }

    #portal-globalnav,
     .portal-globalnav-cpskinmenu-tabs,
     .portal-globalnav-cpskinmenu
    {
        display: none !important;
    }

    #portal-header #navWrapper
    {
        display: none !important;
    }

    #portal-header #portal-searchbox
    {
        display: none;
    }

    #portal-header #search-btn
    {
        background: url("++resource++cpskin.menu.resources/search.png") no-repeat scroll left top rgba(0, 0, 0, 0);
        display: block;
        float: right;
        font-size: 1px;
        height: 32px;
        margin-right: 5px;
        margin-top: 5px;
        width: 32px;
    }

    #portal-logo
    {
        display: block !important;
        float: none !important;
    }

    #portal-personaltools-wrapper
    {
        display: none !important;
    }

    #portal-top
    {
        font-size: 100%;
    }

    .advb-submenu
    {
        margin-bottom: 0.3em;
        margin-top: 0.3em;
    }

    .advb-submenu ul
    {
        margin: 5px;
    }

    .advb-submenu ul li
    {
        margin-right: 1em;
    }

    .advb-title
    {
        background-color: #205c90;
        color: #fff;
        display: inline;
        padding: 0px 5px;
        position: relative;
    }

    .mobile-overlay-search .pb-ajax > div
    {
        font-size: 170%;
        width: 83%;
    }

    .mobile-overlay-search .searchButton
    {
        display: block !important;
    }

    div#mobile-first-level-wrapper
    {
        background-color: #205c90;
        display: none;
        font-size: 120%;
        margin-top: 2px;
        padding: 0.5em;
    }

    div#mobile-first-level-wrapper a
    {
        color: #FFF !important;
    }

    div#mobile-first-level-wrapper li
    {
        border-bottom: 1px solid #FFF;
        margin-bottom: 0.3em;
    }

    div.mobile-overlay-search
    {
        width: 100%;
    }

    ul.mobile-first-level li
    {
        display: block;
    }

}

li.sfHover >span >a
{
    background-color: #205C90;
    color: #FFFFFF;
}

ul.navTreeLevel0
{
    background-color: #DDDDDD;
    margin-bottom: 1em;
    position: relative;
}

ul.navTreeLevel0 li a
{
    display: inline;
}

ul.navTreeLevel1.direct_access > li
{
    display: block !important;
    width: 100% !important;
}

ul.navTreeLevel1.has_direct_access > li
{
    width: 33.33% !important;
}
