#advanced-breadcrumbs
{
    float: left;
    font-size: 120%;
    width: 100%;
}

#advanced-breadcrumbs .advb-submenu
{
    cursor: pointer;
}

#advanced-breadcrumbs .nofollow::after
{
    content: "»";
}

#advanced-breadcrumbs,
#mobile-first-level-wrapper
{
    display: block;
}

#mobnav-btn
{
    background-color: #34495e;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0px -5px;
    padding: 10px;
}

#portal-globalnav,
#portal-globalnav-cpskinmenu-tabs,
#portal-globalnav-cpskinmenu
{
    display: none;
}

#portal-header #navWrapper
{
    display: none !important;
}

#portal-header #portal-searchbox
{
    display: none;
}

#portal-header #search-btn
{
    background: url("++resource++cpskin.menu.resources/search.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    float: right;
    font-size: 1px;
    height: 32px;
    margin-right: 5px;
    margin-top: 13px;
    width: 32px;
}

#portal-logo
{
    display: block !important;
    float: none !important;
}

#portal-personaltools-wrapper
{
    display: none !important;
}

#portal-top
{
    font-size: 100%;
}

.advb-submenu
{
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.advb-submenu ul
{
    margin: 5px;
}

.advb-submenu ul li
{
    border-left: 2px solid gray;
    margin-right: 1em;
    margin-top: 0.3em;
}

.advb-title
{
    background-color: #205c90;
    color: #fff;
    display: inline;
    padding: 0px 5px;
    position: relative;
}

.mobile-overlay-search .pb-ajax > div
{
    font-size: 170%;
    width: 83%;
}

.mobile-overlay-search .searchButton
{
    display: block !important;
}

div#mobile-first-level-wrapper
{
    background-color: #34495e;
    display: none;
    font-size: 120%;
    margin-top: 2px;
    padding: 0.5em;
}

div#mobile-first-level-wrapper a
{
    color: #FFF !important;
}

div#mobile-first-level-wrapper li
{
    border-bottom: 1px solid #FFF;
    margin-bottom: 0.3em;
}

div.mobile-overlay-search
{
    width: 100%;
}

ul.mobile-first-level li
{
    display: block;
}

.advb-submenu .advb-title::before {
    font-size: 77%;
    margin-left: 10px;
}

#advb-submenu-level-2.advb-submenu ,
#advb-submenu-level-3.advb-submenu,
#advb-submenu-level-4.advb-submenu{
    box-sizing: border-box;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 15px;
    width: 100%;
}

#advb-submenu-level-2.advb-submenu  {
    padding-left: 10px;
}

#advb-submenu-level-3.advb-submenu {
    padding-left:20px;
}

#advb-submenu-level-4.advb-submenu {
    padding-left:30px;
}

#title-level-2,
#title-level-3,
#title-level-4{
    box-sizing: border-box;
    width: 100%;
}

