[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/versions.cfg
package-name = cpskin.diazotheme.newDream

develop = .

parts +=
    omelette

index = http://devpi.imio.be/root/imio/+simple/
allow-hosts +=
    devpi.imio.be

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[versions]
cpskin.diazotheme.newDream =
