[buildout]
find-links = https://files.pythonhosted.org/packages/14/87/d2b4fe1f9e7f97360e75e125cc03b2216a0ce5092034f203febc3818b7da/superlance-1.0.0-py2.py3-none-any.whl
             https://files.pythonhosted.org/packages/08/b2/6f9f199774860e3c180dcdf9bf3191a8588f5ece417d03661d25155cfdfe/supervisor-4.2.1-py2.py3-none-any.whl
             https://files.pythonhosted.org/packages/d8/5b/65a655a1090d98c8d604ac9e97d5df3a2ae276f881d4e2911ba38800f2ed/meld3-2.0.1-py2.py3-none-any.whl
develop = .
parts = test
        checker
        coverage-test
        coverage-report


[test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.setup [test]
       p01.recipe.setup [supervisor]
       p01.recipe.setup [paste]
       p01.recipe.setup [i18n]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/recipe/setup


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.setup [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
