/*Tablette*/

/*Page index*/
/* problème d'affichage sous safari 7  tout se met sur une colone  */

li.bloc-item a h3 {
    max-height: 38px;
}
#content .sticky-results .bloc-item img,
.standard-results .bloc-item img{
    max-width:44% ;
}

#content .sticky-results .bloc-item h3,
.standard-results .bloc-item h3 {
    font-size: 1em ;
}

#content .sticky-results .bloc-item h3 {
    background-size: contain;
}

#top-search-logo-inner #portal-logo > img {
    max-width: 80% ;
}

.social .icon-facebook-1:before,.social .icon-twitter-1:before,.social .icon-vimeo:before,.social .icon-rss-1:before{
    width:2em;
    padding-top:0.2em;
    padding-bottom:0.8em;
}

.results .bloc-item .documentByLine{
   font-size: 0.8em;
}

#multimediaviewlet .albums-container {
    width: 95%;
}

#viewlet-below-content #multimediaviewlet .center ul {
    padding-top: 7%;
    float: left;
    max-width: 69%;
}

#multimediaviewlet .link-all {
    float: left;
}

#multimediaviewlet .albums-container .center {
    float: none;
}

#multimediaviewlet .center ul li {
    max-width: 48%;
}

#multimediaviewlet .center .albums .lead-image-wrapper {
    max-width: 100%;
    height:auto;
}

#multimediaviewlet .videos-container {
    padding-bottom:2%;
    padding-left: 2%;
    width: 62%;
}

#multimediaviewlet .videos-container .right {
    float: none;
}

.videos-container .videos > li {
    width: 100%;
}
//view faceted preview items
.eea-preview-items {
    column-count:  3;
}